@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}
.page-top,.intro{
   margin: 40px 60px;
}
.Page-name{
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
    margin-left: 0;
}
.navbar>ul{
    font-weight: 300;
    display: flex;
    font-size: 16px;
    list-style: none;

}
.li{
    padding: 10px;
}

.page-top{
    display: flex;
    justify-content: space-between;
    
}

/* intro-information */
.intro-pic .camera{
    position: absolute;
    top: 220px;
    right: 105px;
}
.intro{
    display: flex;
    justify-content: space-between;
}
.info{
    Width:582px;
    Height :270px;
    margin: 17px;
    margin-top: 100px;
}
.info>h1{
    font-size: 2.5rem;
}
.info>button{
    background-color: rgb(233, 113, 92);
    font-size: medium;
    padding: 15px;
    border-radius: 25px;
    
    border: none;
    
}
.info>button>a{
    text-decoration: none;
    color: white;
}

.info>button:hover{
    transform: scale(1.1);
    transition: scale 10s ease-in-out;
    background-color: rgb(235, 70, 42);
}

/* marketplace */
.marketplace{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
   

}
.marketplace h1{
    color: gray;
    margin-top: 80px;
}
.logos{
    border-radius: 7px;
    box-shadow: 2px 2px  10px rgba(128, 128, 128, 0.411);
}
.logos img{
    margin: 17px;

    
}

/* item-style */
.items{
    margin: 60px 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 22px;
    margin-bottom: 30px;
}
.item-name{
    font-weight: 200px;
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.price{
    font-weight: normal;
}
.star{
    color: rgb(241, 167, 28);
}
.star span{
    color: black;
}
.details{
    font-size:medium;
}
.item{
    padding: 7px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 20px gray;
}
.seemore{
    display: inline;
    float: right;
    margin: 0;
    margin-right: 230px;
    font-size: 1.1rem;
    
   
}
.seemore a{
    text-decoration: none;
    color: tomato;
}

/* extra style---- */
.extra{
    display: flex;
    margin: 60px 80px;
    margin-bottom: 0;
}
.extra img{
    width: 500px;
    height: 500px;
}
.extraitem{
    width: 50%;
    margin-top: 90px;
}
.ask{
    width: 500px;
    height: 100px;
    border-radius: 7px;
}
.extraitem button{
    color: white;
    padding: 10px;
    background-color: tomato;
    margin: 7px;
    border-radius: 14px;
    font-size: 1.1rem;
}

/* footer style----- */
footer{
    background-color: black;
    color: white;
    margin: 0;
    margin-top: 200px;
    padding: 0;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pagefoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
    
}
.pagefoot h2{
    margin: 0;
}
.pagefoot h3{
    font-size:small;
    color: white;
    margin: 0;

}
.pagefoot .linkup>a{
    margin: 5px 8px;
    
    
    text-decoration: none;
    color: rgba(245, 222, 179, 0.637);
}


/* Responsive style---- */
/* mobile */

@media only screen and ( max-width: 688px) {
    body{
        width: 100%;
    }
    .page-top{
        flex-direction: column;
       
        align-items: center;
    }
    .Page-name{
        display: flex;
        justify-content: center;
    }
    .page-top .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .intro{
        flex-direction: column;
        justify-content: center;
    }
    .info{
        width: 100%;
        
       
    }
    .intro-pic{
        margin-top: 300px;
        margin-bottom: 0px;
       position: relative;
        width: 300px
    }
    .circle{
        margin-top: 150px;
    }
    .camera{
       left: 3px;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        
    }
    .marketplace .logos{
        position:sticky;
        display: flex;
        flex-wrap: wrap;
        align-items:  center;
        margin-left: 50px;
        margin-top: 50%;

    }
    .items{
        display: flex;
        flex-wrap: wrap;
    }
    .extra{
        display: flex;
        flex-direction: column;
    }
    .extra>img{
        width: 200px;
        height: 200px;
    }
    .extraitem{
        width: 100%;
    }
    .extraitem input{
        width: 100%;
    }
   
   

   
    
}

 /* Tablet style------ */
 @media(min-width:688px) and (max-width:992px) {
        
    .page-top{
        flex-direction: column;
       
        align-items: center;
    }
    .Page-name{
        display: flex;
        justify-content: center;
    }
    .page-top .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .intro{
        flex-direction: column;
        justify-content: center;
    }
    .info{
        width: 100%;
       
    }
    .intro-pic{
        margin-top: 300px;
       position: relative;
        width: 300px
    }
    .camera{
        margin-top: -160px;
        left: 30px;
        

    }
    .marketplace{
        display: flex;
        margin: 0 10px;


    }
    .items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .extra>img{
        width: 200px;
        height: 200px;
    }
    .extraitem{
        width: 100%;
    }
    .extraitem input{
        width: 100%;
    }
}